.contain{
    background-image: url("images/Pexels\ Photo\ by\ Anni\ Roenkae.png");
    background-repeat: no-repeat;
    background-size: cover;
}
   
li a {
    color: black;
}

.navbar{
    display: flex;
    width: 86vw;
    height: 100px;
    justify-content: space-between;
}

.navbar-nav > li{
    margin-left: 45px;
    font-size: 20px;
}

.navbar-brand > img {
    margin-top: 15px;
    width:120px; 
    height: 90px;
}

.nav-container{
    display: flex;
    justify-content: flex-end;
}

.nav-button {
    border-radius: 8px;
    overflow: hidden;
}

.join{
    background-color: red; 
    color:white;
}

h5{
    color: rgba(0, 0, 0, 0.529);
}

.signin{
    background-color:white;
    padding-top:3%;
    padding-left:10%;
    padding-right: 10%;
    margin-right: 10%;
}

.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 50px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}
  
.signin input {
    width: 100%;
    padding-left: 30px;
    border: 1px solid red;
    background-color: #FAF2F0;
   
}
.icons{
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.fa-check{
   background-color: red;
   margin: 2px;
   color: white;
}
.terms{
    margin: 20px;
    font-size: smaller;
    
}
.alt{
    margin-left: 3%;
    font-size: smaller;
    margin-top: 2%;
}
.fa-check-circle{
    color: red;
}
#para{
   color: red;
   font-size: smaller;
   margin-top: 5%;
}
#formSubmit{
    background-color: red;
     color: white; 
     width: 70%;
     padding-right: 25%;
}
.socials{
    margin-left: 15%;
    margin-bottom: 10%;
}
.socials img{
    width: 25px;
}
.nav-link{
    color: white;
}
.home{
    text-decoration: underline;
    text-decoration-color: red;
}
